a{
    text-decoration: none;
}

#menu{
    width: 100%;
    position: fixed;
    top: 78px;
    background-color: #eeeeee;
    height: 100vh;
    overflow: auto;
}

#menu-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: inherit;
    overflow: auto;
}

.link-item{
    color: $text-color;

    &:hover{
        box-shadow: 0 0 10px rgba(226, 226, 226, 0.408);
        background-color: #f8f8f8;
        color: $text-color;
        outline: auto;
        transition: 0.5s all;
    }
    padding: 20px;
}

