a{
    text-decoration: none;
}

#menu{
    width: 100%;
    position: fixed;
    top: 78px;
    background-color: #e5e5e5;
    min-height: 100vh;
    overflow: auto;
}

#menu-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: inherit;
    overflow: auto;
}

.link-item{
    color: $text-color;

    &:hover{
        box-shadow: 0 0 10px rgb(226, 226, 226);
        background-color: white;
        color: $text-color;
    }
    padding: 20px;
}

