@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
p, h2, h6, h1, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto";
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.navbar {
  display: grid;
  width: 100%;
  height: 78px;
  grid-template-columns: auto 1fr 100px;
  justify-items: center;
  align-items: center;
  border: 1px solid #E5E5E5;
  background-color: white;
  grid-gap: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  justify-self: end;
}

.menu {
  justify-self: start;
}

.secondary-btn {
  background-color: white;
  color: #9B9B9B;
  border-radius: 5px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 22px;
  border: 1px solid #AFAFAF;
}
.secondary-btn:hover {
  cursor: pointer;
}

.profile-container {
  width: 100%;
  height: 313px;
  background-color: white;
  margin-top: 6px;
  border: 1px solid #E5E5E5;
  padding: 19px 0;
  display: grid;
}

.profile-avatar {
  width: 151px;
  height: 151px;
  border-radius: 100%;
  justify-self: center;
}

.profile-fullname {
  font-size: 18px;
  color: #3C3C3C;
}

.profile-text-details {
  justify-self: center;
  text-align: center;
  height: 101px;
  display: grid;
  grid-gap: 5px;
}

.dashboard-content-area {
  border: 1px solid #E5E5E5;
  background-color: white;
  margin-top: 6px;
  height: auto;
}

.phone-and-email-container {
  width: 100%;
  border: 1px solid #E5E5E5;
  display: grid;
  grid-template-rows: 107px 1fr;
  height: 274.44px;
}

.mail-icon {
  color: #D8D8D8;
}

.phone-and-email {
  display: grid;
  justify-items: center;
  align-items: center;
}

.text-input-control {
  display: flex;
  flex-direction: column;
}

.label {
  color: #727272;
  margin-bottom: 8px;
}

.input-border {
  border: 1px solid #D8D8D8;
}

.text-input {
  height: 50px;
}

.text-input:focus, .text-area:focus {
  outline: none;
  border: 1px solid #F4A933;
}

.text-input::-moz-placeholder, .text-area::-moz-placeholder {
  color: #C3C3C3;
}

.text-input:-ms-input-placeholder, .text-area:-ms-input-placeholder {
  color: #C3C3C3;
}

.text-input::placeholder, .text-area::placeholder {
  color: #C3C3C3;
}

.text-input-padding {
  padding: 0 13px;
}

.text-area {
  resize: none;
  padding: 13px;
}

.member-signup-container, .member-login-container {
  height: auto;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.member-login-main-con {
  height: 100vh;
  width: 100%;
}

.total-contributions-container {
  border: 1px solid #E5E5E5;
  background-color: white;
  width: 100%;
  height: 584px;
}

a {
  text-decoration: none;
}

#menu {
  width: 100%;
  position: fixed;
  top: 78px;
  background-color: #e5e5e5;
  height: 100vh;
  overflow: auto;
}

#menu-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: inherit;
  overflow: auto;
}

.link-item {
  color: #727272;
  padding: 20px;
}
.link-item:hover {
  box-shadow: 0 0 10px rgb(226, 226, 226);
  background-color: white;
  color: #727272;
}

.primary-button {
  border: 1px solid #E5E5E5;
}

.grid-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
}

.tr-row {
  color: rgba(75, 75, 75, 0.7019607843);
}

.tr-head {
  color: rgba(114, 114, 114, 0.3725490196);
  font-size: 14px;
}

.fs-small {
  font-size: 1rem;
}

.amount-text {
  font-size: 35px;
  font-weight: 700;
  color: #F4A933;
}

.box-shadow {
  box-shadow: 0px 10px 10px rgba(204, 204, 204, 0.0862745098);
}

.bb {
  border-bottom: 1px solid #E5E5E5;
}

.ptc {
  color: #727272;
}

.stc {
  color: #9B9B9B;
}

.content-container {
  border: 1px solid #E5E5E5;
  background-color: white;
  width: 100%;
  height: auto;
}

.pd-v-max {
  padding: 20px 0;
}

.pd-v-min {
  padding: 12px 0;
}

.pd-h-max {
  padding: 0 20px;
}

.pd-h-min {
  padding: 0 12px;
}

.pd {
  padding: 20px;
}

.br {
  border-radius: 5px;
}

.mg-v {
  margin: 29.3px 0;
}

.mg-down-sm {
  margin-bottom: 10px;
}

.mg-top {
  margin-top: 20px;
}

.mg-down {
  margin-bottom: 20px;
}

.mg-top-sm {
  margin-top: 6px;
}

.h2 {
  font-size: 18px;
  color: #727272;
  font-weight: 500;
  margin: 0;
}

body {
  background-color: #F8F8F8;
}

.general-padding {
  padding: 0 20px;
}

.h1-mobile {
  font-size: 16px;
  color: #727272;
  margin: 0;
}

.faint-text {
  color: #9B9B9B;
}

.upcoming-event-container {
  border: 1px solid #E5E5E5;
  height: 260px;
  display: grid;
  grid-template-rows: 1fr 48px;
}

.upcoming-event-image {
  width: 100%;
}

.upcoming-event-name-container {
  display: grid;
  align-items: center;
  background-color: #F4F4F4;
}

.tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 59px;
}

.tab {
  color: #727272;
  height: 59px;
  border: none;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 14px;
}

.active-tab {
  color: #F4A933;
  border-bottom: 1.5px solid #F4A933;
}

.events-and-projects-container {
  border: 1px solid #E5E5E5;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.helpdesk-form-con {
  height: 598px;
  width: 100%;
  border: 1px solid #E5E5E5;
  display: grid;
  grid-template-rows: 65.7px 1fr;
  box-shadow: 0px 10px 10px rgba(204, 204, 204, 0.2235294118);
}

.form-title-con {
  display: grid;
  align-items: center;
}

.total-contributions {
  width: 100%;
  height: 181px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.amount-and-message {
  display: grid;
  align-self: end;
}

.amount-text {
  justify-self: center;
}

.login-logo {
  width: 65px;
  height: 65px;
}/*# sourceMappingURL=styles.css.map */